<mat-card>
  <mat-card-content>
    <mat-card-title> {{titulo}}
      <div fxLayoutAlign="left">
        <button mat-fab (click)="create()" color="primary" matTooltip="{{constants.crearNuevo}}" *userHassPermission="constants.rol_administrador">
          <mat-icon class="m-1">note_add</mat-icon>
        </button>
    </div>
    <mat-card>
      <mat-dialog-content style="font-size: medium;" *ngIf="!busquedaAvanzada">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div class="item" fxFlex>
            <div class="w-50">
              <input matInput placeholder="Ingrese sharedName"
                [(ngModel)]="clienteCriteria.param" autocomplete="off" required>
            </div>
          </div>

          <div class="item" fxFlex>
            <div class="w-25" align="left">
              <button mat-raised-button [disabled]="disableSubmit" color="default" (click)="onFilter()">
                <mat-icon class="m-1">search</mat-icon>{{ constants.buscar }}
              </button>
            </div>
          </div>

          <div class="item" fxFlex>
            <div class="w-25" align="end">
              <button mat-raised-button [disabled]="disableSubmit" color="primary" (click)="onTypeSearch()">
                <mat-icon class="m-1">dynamic_form</mat-icon> Busqueda avanzada
              </button>
            </div>
          </div>
        </div>
      </mat-dialog-content>

    </mat-card>
    </mat-card-title>
    <!-- <mat-card-subtitle>{{ titulo}}</mat-card-subtitle> -->

    <div *ngIf="loading=== true" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>
    <div class="center">
      <div [hidden]="loading">
          <mat-table #table [dataSource]="clienteDatasource"
                     matSort
                     matSortActive="nombre"
                     matSortDirection="asc">
              <ng-container matColumnDef="sharedKey">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.sharedKey}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let cliente">
                    {{cliente.sharedKey}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.nombre}}</strong> </mat-header-cell>
                  <mat-cell *matCellDef="let cliente">
                     {{cliente.nombre}}
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="telefono">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.telefono}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let cliente">
                   {{cliente.telefono}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="correo">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.correo}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let cliente">
                   {{cliente.correo}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="fechaCreacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{constants.fechaCreacion}}</strong> </mat-header-cell>
                <mat-cell *matCellDef="let cliente" aling="center">

                    {{cliente.fechaCreacion | date:'dd/MM/yyyy' }}


                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef><strong>{{ constants.acciones }}</strong></mat-header-cell>
                <mat-cell *matCellDef="let cliente" [attr.data-label]="constants.acciones">
                  <button mat-raised-button  (click)="edit(cliente)" [disabled]="disabledButton" color="primary" class="m-1"
                  *userHassPermission="constants.rol_administrador">
                    <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator #paginator [length]="clienteDatasource.counter$ | async"
                         [pageIndex]="0"
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 15]">
          </mat-paginator>

      </div>
  </div>
  </mat-card-content>
</mat-card>

